:root {
    /* change the values below to your colors from your palette */
    --primary-color: #104560;  /*use  with white text*/
    --secondary-color: #F19F0D; /*use  with black text*/
    --accent1-color: #572C7D; /*use  with white text*/
    --accent2-color: #1AD214; /*use  with black text*/
    --page-background: #fafafa;
    --card-background: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Zilla Slab";
    --paragraph-font: "Raleway", sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --primary-color-text: white;
    --secondary-color-text: black;
    --accent1-color-text: white;
    --accent2-color-text: black;
    --nav-link-color: var(--primary-color-text);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color-text);
    --nav-hover-background-color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--page-background);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

header,
footer {
    color: var(--primary-color-text);
    background-color: var(--primary-color);
}

.header {
    display: flex;
    padding: 0.5rem;
}

header h1 { 
    padding: 1rem;
    flex: 1 1 100%;
    font-size: 3rem;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    content: "a";
    color: white;
}

#menu::before {
    content: "≡";
}

#logo-link > img {
    border-radius: 15px;
}

nav {
    background-color: var(--nav-background-color);
    display: none;
}

nav.show {
    display: block;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 0.8rem;
    text-decoration: none;
    text-align: right;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

footer {
    padding: 2rem;
    text-align: center;
}


/* Main section */
main {
    margin: 1rem auto;
    max-width: 1350px;
}

main.homepage {
    display: grid;
    grid-template-columns: 1fr;
}

h2.page-header {
    text-align: center;
    font-size: 3rem;
}

/* Home page card grid */
#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 450fr));
    gap: 20px;
    text-align: center;
}

.product-card {
    background-color: var(--card-background);
    padding: 15px;
    border: 3px solid var(--secondary-color);
    max-width: 440px;
    margin: 0 auto;
}

.product-card h3 {
    font-size: 1.5em;
    padding: 10px;
}

.product-card img {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.sidebar {
    display: none;
}

.sidebar-card {
    margin-bottom: 2em;
    padding: 0.5em;
    border-style: solid;
    border-color: var(--accent2-color);
    text-align: center;
    background-color: var(--card-background);
}

.sidebar-card.request h3{
    margin-bottom: 0.5rem;
}

.print-request {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.print-request input {
    margin-bottom: 1rem;
}

#object-url-label {
    margin-top: 1rem;
}

.print-request select{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.print-request .hidden {
    display: none;
}

.print-request input[type=radio] {
    margin-bottom: 0rem;
}

.print-request input[type=submit] {
    border: none;
    border-radius: 1rem;
    background-color: var(--accent2-color);
    color: var(--accent2-color-text);
    padding: 0.5rem;
    margin-top: 1rem;
}

.print-request input[type=submit]:hover {
    opacity: 0.7;
}

/* who we are */
.flex-card-box {
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.flex-card-image {
    margin: 3rem;
    grid-column: 3/4;
    grid-row: 1/4;
    z-index: 2;
    text-align: center;
}

.flex-card-image img {
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(172, 172, 172);
}

.flex-card-background {
    grid-row: 2/3;
    grid-column: 1/4;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(172, 172, 172);
}

.flex-card-text {
    padding: 2.5rem;
    font-size: 1.3rem;
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(172, 172, 172);
}

.flex-card-box:nth-child(1) .flex-card-text,
.flex-card-box:nth-child(1) .flex-card-background{
    color: var(--secondary-color-text);
    background-color: var(--secondary-color);
}

.flex-card-box:nth-child(2) .flex-card-text,
.flex-card-box:nth-child(2) .flex-card-background {
    color: var(--accent1-color-text);
    background-color: var(--accent1-color);
}

.flex-card-box:nth-child(2) .flex-card-image {
    grid-column: 1/2;
}

.flex-card-box:nth-child(2) .flex-card-text {
    grid-column: 2/4;
}

.flex-card-box:nth-child(3) .flex-card-text,
.flex-card-box:nth-child(3) .flex-card-background {
    color: var(--accent2-color-text);
    background-color: var(--accent2-color);
}

/* Contact us and get a quote */
.quote-request,
.contact-block {
    max-width: 25rem;
    margin: 1rem auto;
}

.quote-fields,
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
}

.quote-fields label,
.contact-form label {
    margin-top: 1rem;
}

.contact-form textarea {
    height: 4rem;
}

.quote-fields button,
.contact-form button {
    border: none;
    margin: 0;
    background-color: var(--accent1-color);
    color: var(--accent1-color-text);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.quote-fields button:hover,
.contact-form button:hover {
    background-color: var(--accent2-color);
    color: var(--accent2-color-text);
}

.noHover {
    pointer-events: none;
}

.button-container {
    padding: 1rem;
    text-align: center;
}

.radio-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0;
}

.pre-form-text p{
    margin: 0.7rem 0;
}

.quote-result.hidden {
    display: none;
}

.quote-result {
    text-align: center;
    z-index: 50;
    border: double 5px var(--secondary-color);
    background-color: white;
    width: 15rem;
    padding: 1em;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(172, 172, 172);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 640px) {
    header h1 {
        text-align: center;
    }
    
    nav {
        display: flex;
    }

    nav a {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }

    #menu {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .flex-card-box {
        display: grid;
        align-items: normal;
    }

    .flex-card-text {
        box-shadow: none;
    }
    
}


@media screen and (min-width: 1150px) {
    main.homepage {
        grid-template-columns: 4fr 1fr;
    }
    .sidebar {
        display: block;
    }

}