* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
body {
    font-family: Montserrat, sans;
}

/* Header, footer and navigation */
header, footer {
    color: #ffffff;
    background-color: #072e81;
}

footer {
    text-align: center;
    padding: 0.5rem;
}

.lastMod {
    font-size: smaller;
}

.header {
    display: flex;
}

header h1 {
    padding: 1rem;
    flex: 1 1 100%;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    content: "a";
    color: white;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
    content: "×";
}

nav {
    display: none;
}

nav.show {
    display: block;
    align-items: right;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    padding: 1rem;
    text-decoration: none;
    text-align: right;
}

nav a:hover {
    background-color: #124ecf;
}

/* Main section */
main {
    margin: 1rem auto;
    max-width: 960px;
}

.temple-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 25px;
    column-gap: 25px;
}

main h2 {
    text-align: center;
    margin: 1rem;
}

main figure {
    text-align: center;
}

figure img {
    max-width: 200px;
}
